<!DOCTYPE html>

<html>

<head>
    {% block title %}
    <title> Bomel et compagnie </title>
    <link rel="website icon" type="png" href="images/logoConcessionnaire.png">
    {% endblock %}
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="bodychanges">
   
<nav class="navbar navbar-expand-md navbar-dark bg-dark py-2">
    <a class="navbar-brand" href="#">
        Accueil
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"> Achat Particulier/Professionnel <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#"> Location </a>
        <a class="nav-item nav-link" href="#"> Vendre ma voiture </a>
        <a class="nav-item nav-link" href="#"> Nous contacter </a>
        <a class="nav-item nav-link" href="#"> Laisser nous votre avis </a>
        
        <a class="nav-item nav-link" href="#"> Se connecter </a>       
      </div>
    </div>
</nav>

    {% block content %}
    {% endblock %}
</body>

</html>