{% extends "base.html" %}
{% from "myMacro.html" import show_cars %}
{% block content %}
<h1 style="text-align: center;">Catalogue des véhicules en {{extra}}</h1>

{% for car in cars%}
<div class="row"></div>
{%endfor%}

<div class="container changes">
    <table class ="table">
        <thead style ="background-color: rgb(255, 193, 7);">
            <tr>
                <th scope="col">Identifiant du véhicule</th>
                <th scope="col">Le modèle</th>
                <th scope="col">La marque du véhicule</th>
                <th scope="col">Image du véhicule</th>
                <th scope = "col">Prix</th>
                <th scope = "col">Détail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for car in cars %} 
                <tr>
                {%if car.etat == extra %}
                {{show_cars(car.id,car.nomModel,car.marque,car.description,car.date_fabrication,car.etat, car.image, car.prix)}}  
                
                
                

                
                
               
                {%endif%}
            </tr>
                {% endfor %}
            </tr>
            <tr>
                <th>Nombre de véhicule : {{ number_cars }} </th>
            </tr>
        </tbody>
    </table> 
</div>
{% endblock %}