{%extends 'base.html'%}

{%block content%}
<div class="form-group"></div>
    <form style ="padding :20px; border: 2px solid rgb(255, 193, 7)" action="/autres/ecrireavis" method="post" class="decalageplus"  enctype="multipart/form-data"> 
        <div style = "margin-top : 13px ;">
            <label for="rating" class="my-3">Note</label>
                    <select style = "margin-top : 10px ;" class="form-control" id="rating" name="rating">
                    <optgroup label="Choisissez votre note"></optgroup>
                    <option>Aucune note sélectionnée</option>
                    <optgroup label="Note"></optgroup>
                    <option>☆☆☆☆☆</option>
                    <option>★☆☆☆☆</option>
                    <option>★★☆☆☆</option>
