{% extends 'base.html' %}

{% block content %}
<div class="form-group"></div>
    <form style ="padding :20px; border: 2px solid rgb(255, 193, 7)" action="/autres/entretien" method="post" class="decalageplus"  enctype="multipart/form-data">
        
        <div style = "margin-top : 13px ;">
              Date désirée
              <input style = "margin-top : 13px ;" type="date" class="form-control" name ="date" placeholder="date" id="date" value="">
        </div>
        
        <div style = "margin-top : 13px ;">
            <div class="row">
                <div class="col">
                <label for="vehType" class="my-3">RDV dans la matinée</label>
                    <select style = "margin-top : 10px ;" class="form-control" id="vehType" name="vehType">
                    <optgroup label="Choisissez votre créneau horaire"></optgroup>
                    <option>Aucun créneau sélectionné</option>
                    <optgroup label="Créneau disponibles"></optgroup>
                    <option>9:00</op