{% macro show_cars(id,nom,auteur,editeur,description,date_creation, proprietaire_id,prix) %}
    <tr>
        
        <td>{{ id }}</td>

        <td>{{ nom }}</td>

        <td>{{ auteur }}</td>

        <td>
        {% if editeur|length < 1 %}
            /
        {% else %}
            {{editeur}}
        {% endif %}
        </td>
        
        <td>
        {% if description|length < 1 %}
            /
        {% else %}
            {{description}}
        {% endif %}
        </td>
        
        <td>{{date_creation}}</td>

        <td>{{prix}}</td>

        <td>{{proprietaire_id}}</td>
    </tr>

{% endmacro %}