{% extends 'base.html' %}
{%block content%}
<body>
    <div class="container">
        <div id="conteneurquestion">
            <h2> Questions soumises</h2>
            <ul>
                {%for question in questions%}
                <div style="margin-bottom:15px; border: 1px solid #ddd; border-radius: 1px; padding: 15px; margin-left: -5%; margin-right:-5%;">
                    <h5> Posté par {{question.userId}} </h5>
                    <h6> {{question.question}} </h6>
                    {%if question.reponse == ""%}
                    <form id="reponse" method="post" action="/forum/reponse/{{question.id}}">
                        <textarea id="reponse" name="reponse" rows="1" cols="100" placeholder="Entrez votre reponse"></textarea>
                        <button type="submit" class="button">Envoyer</button>
                    </form>
                    {%else%}
                    <h6> {{question.reponse}} </h6>
                    {% endif %}
                </div>
                {%endfor%}
            </ul>
            <form id="formulairequestion" method="post" action="/forum/questions">
                <h2>Postez une question</h2>
                <label for ="userquestion">Votre question</label>
                <textarea id="userquestion" name="userquestion" rows="4" placeholder="Entrez votre question ici.."></textarea>
                <button type="submit" class="button">Envoyer</button>
            </form>
        </div>
    </div>
</body>
{%endblock%}


