<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question interaction</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <label for="afficherquestion" class="button">Afficher Question</label>
        <input type="checkbox" id="afficherquestion" class="cache">
        <div id="conteneurquestion">
            <h3> Questions soumises</h3>
            <ul>
                {%for question in questions%}
                    <li>{{question}}</li>
                {%endfor%}
            </ul>
            <form id="formulairequestion" method="post" action="/forum/questions">
                <h3>Postez la question</h3>
                <label for ="userquestion">Votre question</label>
                <textarea id="userquestion" name="userquestion" rows="4" placeholder="Entrez votre question ici.."></textarea>
                <button type="submit" class="button">Envoyer</button>
            </form>    
        </div>
    </div>
</body>
</html>


