{% extends "base.html" %}

{% block content %}
<div class="row" style="margin-top: 3%;">
    <div class="col">
        <div class="card" style="padding: 3%; margin-left: 20%;">
            <h2>Acheter un véhicule</h2>
            <p style="margin-bottom: 10%;">Découvrez une manière nouvelle et sans tracas d'acheter un véhicule avec notre service d'achat. Notre équipe expérimentée est là pour rendre 
                le processus aussi simple que possible, en vous guidant à chaque étape. Nous nous engageons à fournir une expérience client exceptionnelle, 
                offrant des conseils personnalisés et une assistance attentive.  Faites confiance à notre expertise pour un achat de véhicule sans stress et entièrement satisfaisant.</p>
            <a class="btn btn-warning" href="/achat/catalogue">Voir les véhicules disponibles</a>
        </div>
     </div> 
     <div class="col">
        <div class="card" style="padding: 3%;margin-left: 2%; margin-right: 2%;">
            <h2>Louer un véhicule</h2>
            <p style="margin-bottom: 10%;">De l'utilitaire à la super sportive, notre service de location vous offre une gamme large de véhicules pour tous type d'usage. Faites vous plaisir avec la voiture de vos rêves
            ou réaliser votre prochain déménagement grâce à l'un de nos véhicules. Bomel et compagnie vous garantit qualité et prix raisonnables grâce à sa location de véhicules.</p>
            <a class="btn btn-warning" href="/location/catalogue">Me diriger vers le catalogue</a>
        </div>
     </div>
     <div class="col">
        <div class="card" style="padding: 3%; margin-left: 2%; margin-right: 2%;">
            <h2>Vendre mon véhicule </h2>
            <p style="margin-bottom: 10%;">Découvrez une expérience de vente de véhicules exceptionnelle avec notre service haut de gamme. Notre équipe dévouée 
                est là pour vous guider à chaque étape, assurant une transaction fluide et sans tracas. Nous mettons tout en œuvre pour garantir que votre véhicule soit présenté sous son meilleur jour, 
                atteignant ainsi sa juste valeur sur le marché. Faites confiance à notre expertise pour une vente réussie et une satisfaction garantie.</p>
            <a class="btn btn-warning" href="/vente/client">Vendre mon véhicule dès maintenant</a>
        </div>
     </div>
     <div class="col">
        <div class="card" style="padding: 3%; margin-right: 20%;">
            <h2>Entretien du véhicule </h2>
            <p style="margin-bottom: 10%;">Prennez rendez-vous auprès de notre service entretien à domcile pour réaliser un entretien agréé de votre véhicule.
            Notre passage vous garantira une expertise de votre véhicule en métière de sécurité et des réparations si le besoin s'en fait sentir.</p>
            <a class="btn btn-warning" href="/autres/entretien">Prendre rendez-vous</a>
        </div>
     </div>

</div>

{% endblock %}