{% extends "base.html" %}

{% block content %}

<div>
    <h1 style = "margin-left: 30%; margin-right: 30%; padding-top: 2%;">Se connecter</h1>        
</div>
    
<form action="/users/login" method="post" style="margin-left: 30%; margin-right: 30%; padding-top: 2%;">
    
        <div class="form-group">
            <label for="email">Adresse Email </label>
            <input type="text" class="form-control" id="email"
                   name="email" placeholder="" />
        </div>
        
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password"
                   name="password" />
        </div>
    
        <div>
        <button type="submit" class="btn btn-warning my-4" href="/autres/home"> Connexion </button>
        </div> 
        <div><a class="btn btn-warning mx-4" href="signin"> Créer un compte </a></div>
        <div><a class="btn btn-outline-dark mx-4 decalageplus" href="/autres/home"> Continuer en tant qu'invité </a></div>
        
          
</form>



    
{% endblock %}