{% extends "base.html" %}

{% block content %}

<h1 class="centeredTitle">Modifier mon mot de passe</h1>
<div class="form-group">
    
    <form action="/users/password" method="POST" class="decalage">
       
        <label for="auteur">Ancien mot de passe</label>
        <input type="text" class="form-control" name="password" value="{{password}}" placeholder="*"/>

        <label for="editeur">Nouveau mot de passe</label>
        <input type="text" class="form-control" name="new_password" value="{{new_password}}" placeholder="*"/>

        <label for="description">Confirmez le nouveau mot de passe</label>
        <input type="textarea" class="form-control" name="new_password_confirmed" value="{{new_password_confirmed}}" placeholder="*"/>

        <button type="submit" class="btn btn-primary my-4" href="/users/me"> Valider</button>

    </form>
</div>
<div>
    <a class="btn btn-outline-dark mx-2 retour" href="/users/me">Retour</a>
</div>

{% endblock %}