{% extends "base.html" %}

{% block content %}


<div class="form-group">
    <form action="/users/signin" method="post" class="decalageplus">

        <h1>Créer un compte</h1>
        
        <label for="email" class="my-3">Adresse mail </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Adresse Email" value="" />
        
        <div class="row" style="margin-top: 1%;">
            <div class="col">
              Prénom
              <input type="text" class="form-control" name="firstname" placeholder="Prénom" id="firstname">
            </div>
            <div class="col">
              Nom
              <input type="text" class="form-control" name ="name"placeholder="Nom" id="name" value="">
            </div>
        </div>
        
        <label for="phone">Numéro de téléphone</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder ="Numéro de téléphone" value ="" />

        <label for="adresse">Adresse</label>
        <input type="text" class="form-control" id="adresse" name="adresse" placeholder ="Adresse" value ="" />
        
        <label for="password">Mot de passe</label>
        <input type="text" class="form-control" id="password" name="password" placeholder ="*" value ="" />

        <label for="confirmedpassword">Confirmez le mot de passe</label>
        <input type="text" class="form-control" id="confirmedpassword" name="confirmedpassword" placeholder ="*" value ="" />

        <button type="submit" class="btn btn-warning my-4" href="/users/login"> S'inscrire</button>

        <div>
            <a class="btn btn-outline-dark mx-2" href="/users/login">Retour à la page de connexion</a>
        </div>
        
    </form>
</div>


{% endblock %}