
{% extends 'base.html' %}

{% block content %}

<h1 style="margin-top: 5%;margin-left: 28%;"> Votre vente a bien été prise en compte !</h1>
<h2 class ="centeredTitle" style="margin-top: 1%;margin-left: 26%;">(Un membre du personnel va regarder à votre cas 😊) </h2>
<div class="text-center">
    <a class="btn btn-warning my-4"  href="/autres/home"> Revenir à la page d'acceuil </a>
    <a class="btn btn-warning my-4"  href="/vente/client"> Vendre un autre véhicule </a>
    <a class="btn btn-warning my-4"  href="/a